<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="data source=LAPTOP-0T85CMU3\SQLEXPRESS;initial catalog=Med_Research;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ManishConnectionString" connectionString="Data Source=LAPTOP-0T85CMU3\SQLEXPRESS;Initial Catalog=Manish;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TotalTestTime" value="360" /><!--//360-->
    <add key="maxQuestion" value="24" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="20240000" executionTimeout="106000" />
    <!--Authentication Start-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" defaultUrl="Home.aspx" protection="All">
        <credentials passwordFormat="Clear">
          <user name="mdagar" password="123" />
          <user name="pragim" password="pragim" />
          <user name="prasad" password="prasad" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!--Authentication End-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>